/* Variáveis para facilitar manutenção */
@use '@angular/material' as mat;

:root {
  --primary-bg: rgb(155, 192, 209);
  --primary-text: rgb(3, 57, 82);
  --hover-bg: rgba(255, 255, 255, 0.3); /* Branco transparente para hover */
  
}

.toolbar {
  /* Layout */
  display: flex; /* Essencial para o .spacer funcionar */
  align-items: center; /* Centraliza itens verticalmente */
  gap: 8px; /* Espaço entre os ícones */
  
  /* Visual */
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 0 16px; /* Mais respiro nas laterais */
  height: 64px; /* Altura padrão de barras modernas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para dar profundidade */
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  /* Reset e Cores */
  background-color: transparent; /* Fundo transparente fica mais elegante */
  color: var(--primary-text);
  border: none;
  cursor: pointer;
  
  /* A Mágica: Transição Suave */
  transition: all 0.2s ease-in-out;
}

.person-icon:hover,
.share-icon:hover {
  background-color: var(--hover-bg); /* Clareia o fundo ao passar o mouse */
  transform: translateY(-2px); /* Leve subida (efeito flutuante) */
}

.icon:active {
  transform: scale(0.95); /* Efeito de clique (encolhe um pouco) */
}

.drawer-container {
  /* Remove o fundo cinza claro padrão do Angular Material para este container */
  background-color: transparent;
}

.drawer-main-content {
  /* Sobrescreve o overflow: auto padrão que causa a barra de rolagem */
  overflow: visible !important;
  display: flex;
  align-items: center;
}

.drawer-content{
  height: 100px;
  word-spacing: -5px;
}

.drawer-content .username{
  margin: 0;          /* Remove o espaço externo */
  margin-top: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;   /* Define a altura da linha bem justa */
  display: block;     /* Garante que quebre a linha */
}

.drawer-content .email{
  margin: 0;          /* Remove o espaço externo */
  padding: 0;
  font-size: 12px;    /* Email geralmente é menor */
  color: #ccc;        /* Cor mais clara para dar hierarquia (opcional) */
  line-height: 1.2;   /* Define a altura da linha bem justa */
  display: block;
}

/* Nova classe para o botão de Logout */
.logout-btn {
  position: absolute; /* Remove o botão do fluxo do texto */
  right: 5px;        /* Cola ele na direita */        /* Coloca no meio da altura */
  transform: translateY(-90%); /* Garante o centro exato vertical */

}

.logout-btn:hover {
  background-color: var(--hover-bg); /* Clareia o fundo ao passar o mouse */
  transform: translateY(-95%); /* Leve subida (efeito flutuante) */
}
