<header>
  <mat-toolbar class="toolbar">
    <button matIconButton class="icon"  [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Agendamento</span>
    <span class="spacer"></span>

    <mat-drawer-container class="drawer-container" autosize>
          <mat-drawer #drawer class="drawer-content" mode="side">
                <p class="username">{{username}}</p>
                <p class="email">{{email}}</p>
                <button matIconButton class="icon logout-btn" (click)="loginService.logout();drawer.toggle()" matButton >
                   <mat-icon>logout</mat-icon>
                </button>
          </mat-drawer>  
          @if(loginService.verifyIfLoggedIn()){
              <button matIconButton class="icon person-icon"  matButton (click)="drawer.toggle()">
                <mat-icon>person</mat-icon>
              </button>
          }
          @else {
              <button matIconButton class="icon person-icon" (click)="redirectLogin()">
                <mat-icon>person</mat-icon>
              </button>
          }
    </mat-drawer-container>
    
    <button matIconButton class="icon share-icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

    <mat-menu #menu="matMenu" class="menu-drop">
      <button mat-menu-item class="button-menu"><mat-icon>cases</mat-icon>Planos/Preços</button>
      <button mat-menu-item class="button-menu"> <mat-icon>alarm</mat-icon>Quero Agendar</button>
    </mat-menu>

</header>
