
<body>
<div class="login-card">
    <div class="login-header">
      <h2>Bem-vindo de volta</h2>
      <p>Insira suas credenciais para acessar</p>
    </div>
    <!--- Caso for loginSocial deve usar outro submit-->
    <form #loginFRM="ngForm" (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="input-group" *ngIf="!loginState">
        <label for="username">Nome</label>
        <input name="username" type="text" id="username" placeholder="Digite seu nome" formControlName="username" required>
        <div *ngIf="username?.invalid && loginFRM.submitted" class="validation-error">
            <p *ngIf="username?.errors?.['required']">O nome é obrigatório</p>
        </div>
        <div *ngIf="username?.errors?.['pattern']" class="validation-error">
            <strong>Nome inválido.</strong> Evite números, símbolos ou letras aleatórias. 
        </div>
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input name="email" type="email" id="email" placeholder="seu@email.com" formControlName="email" required>
        <div *ngIf="email.invalid && loginFRM.submitted" class="validation-error">
            <p *ngIf="email.errors?.['required']">O email é obrigatório</p>
            <p *ngIf="email.errors?.['email'] || email.errors?.['pattern']">Formato de email inválido (exemplo&#64;dominio.com)</p>
        </div>
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input name="password" type="password" id="password" placeholder="••••••••" formControlName="password" required>
        <div *ngIf="password.invalid && loginFRM.submitted" class="validation-error">
             <p *ngIf="password.errors?.['required']">A senha é obrigatória</p>
        </div>
         <div *ngIf="password.errors?.['pattern'] && !loginState">
           <div class="password-requirements">
              <p [class.valid]="loginForm.get('password')?.value?.length >= 8">
                <span class="icon">{{ loginForm.get('password')?.value?.length >= 8 ? 'X' : '○' }}</span>
                Pelo menos 8 caracteres
              </p>
              
              <p [class.valid]="passwordValidationUtils.hasUpperCase(loginForm.get('password')?.value)">
                <span class="icon">{{ passwordValidationUtils.hasUpperCase(loginForm.get('password')?.value) ? 'X' : '○' }}</span>
                Uma letra maiúscula
              </p>

              <p [class.valid]="passwordValidationUtils.hasLowerCase(loginForm.get('password')?.value)">
                <span class="icon">{{ passwordValidationUtils.hasLowerCase(loginForm.get('password')?.value) ? 'X' : '○' }}</span>
                Uma letra minúscula
              </p>

              <p [class.valid]="passwordValidationUtils.hasNumber(loginForm.get('password')?.value)">
                <span class="icon">{{ passwordValidationUtils.hasNumber(loginForm.get('password')?.value) ? 'X' : '○' }}</span>
                Um número
              </p>

              <p [class.valid]="passwordValidationUtils.hasSpecial(loginForm.get('password')?.value)">
                <span class="icon">{{ passwordValidationUtils.hasSpecial(loginForm.get('password')?.value) ? 'X' : '○' }}</span>
                Um símbolo (ex: &#64;, #, $)
              </p>
            </div>
          </div>
      </div>
      

      <div class="input-group" *ngIf="!loginState">
        <label for="password">Confirme sua Senha</label>
        <input name="passwordConfirmation" type="password" id="passwordConfirmation" placeholder="••••••••" formControlName="passwordConfirmation" required>
        <div *ngIf="passwordConfirmation.invalid && loginFRM.submitted" class="validation-error">
            <p *ngIf="passwordConfirmation.errors?.['required']">Confirmação da senha é obrigatório</p>
        </div>
        <div *ngIf="loginForm.errors?.['mismatch'] && loginForm.touched">
            <p>As senhas não conferem</p>
        </div>
      </div>
      
      <div class="input-group" *ngIf="!loginState">
        <label for="phone">Celular</label>
        <input name="phone" mask="(00)00000-0000" id="phone" placeholder="Digite seu numero de celular" formControlName="phone" required>
        <div *ngIf="phone?.invalid && loginFRM.submitted" class="validation-error">
            <p *ngIf="phone?.errors?.['required']">Numero de celular é obrigatório</p>
        </div>
      </div>

      <div class="input-group" *ngIf="!loginState">
        <label for="cpf">CPF</label>
        <input name="cpf" mask="000.000.000-00" id="cpf" placeholder="Digite seu CPF" formControlName="cpf" required/>
        <div *ngIf="cpf.invalid && loginFRM.submitted" class="validation-error">
              <p *ngIf="cpf.errors?.['required']">CPF é obrigatório</p>
        </div>
      </div>

      <div class="input-group" *ngIf="!loginState">
        <label for="isCompany">Tipo de usuário</label>
        <select name="isCompany" id="isCompany" formControlName="isCompany" required>
          <option value="" disabled selected>Selecione o tipo de usuário</option>
          <option value="false">Cliente</option>
          <option value="true">Empresa</option>
        </select>
        <div *ngIf="isCompany.invalid && loginFRM.submitted" class="validation-error">
              <p *ngIf="isCompany.errors?.['required']">Tipo de usuário é obrigatório</p>
        </div>
      </div>
     <!-- <button type="submit" class="btn-primary">Entrar</button> -->
      @if(!loginState){
         <button type="submit" class="btn-primary login-btn">Cadastrar</button>
      }
      @else{
        <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
        <button type="submit" class="btn-primary login-btn">Entrar</button>
      }
     
     <button type="button" class="btn-primary cancel-btn" (click)="cleanForm()">Limpar</button>
    </form>

    <div class="actions">
      <span class="link" (click)="redirectToForgotPassword()">Esqueci minha senha</span>  
      <div class="divider"></div>
      @if(loginState){
        <span class="create-account">
          <p>Não tem uma conta?  <span class="link" (click)="changeValidatorsAndState()">Criar novo usuário</span> </p>
        </span>
      }@else {
         <span class="create-account">
          <p>Já tem uma conta?  <span class="link" (click)="changeValidatorsAndState()">Fazer login</span> </p>
        </span>
      }
     
    </div>
  </div>
  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>
  </body>

  